@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

section {
  box-sizing: border-box;
  }


.header {
  max-width: 1475px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

Li:not(:last-child) {
  margin-right: 50px;
}

.container {
  max-width: 1475px;
  margin: auto;
  padding: 0 15px;
  width: -moz-available;
}

button {
  display: block;
  background: #2d635e;
  mix-blend-mode: normal;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  width: 135px;
  height: 43px;
  text-decoration: none;
}

button :hover {
  text-decoration: underline;
}

.buttonhead {
  margin-left: 40px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.buttonmain {
  font-family: "George Round";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin: auto;
}

nav {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: justify;
  color: #000000;
}

.p1 {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 53px;
}

p {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
}

h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 63px;
  line-height: 63px;
  color: #000000;
}

h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  display: flex;
  align-items: center;
}

.banner-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.content {
    padding: 135px 0 175px;
}

.trix {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.trix-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 615px;
  }

.address-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 110px 0 114px;

}

.stiker {
  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 53px;
}

footer {
  background: #e3ebe7;
  padding: 110px 0 114px;
}

.map56 {
   display: block;
}

.address {
  display: flex;
  align-items: flex-start;
  gap: 57px;
}

.wrapper {
  list-style: none;
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  padding: 0;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.social {
  display: none;
  flex-direction: column;
  align-items: center;
   
}

.social img {
  max-width: fit-content;
  margin-bottom: 10px;
}

.social p {
  white-space: nowrap;
  transform: rotate(-90deg) translateX(-22px);
  font-family: 'Josefin Sans';
font-style: normal;
}

.banner-wrapper img {
  display: none;
}

h1 {
  padding: 12px 0 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 54px;
}

.trix-wrapper:nth-of-type(1) {
  padding: 0 0 80px;
}

.trix-wrapper:nth-of-type(2) {
  padding-bottom: 92px;
}

@media (min-width: 992px) {
  .trix-wrapper {
    flex-direction: row;
  }

  .trix-wrapper:nth-of-type(1) {
    padding: 100px 0;
  }

  .trix-wrapper:nth-of-type(2) {
    padding-bottom: 77px;
  }
}

@media (min-width: 1024px) {
  .banner-wrapper {
    justify-content: space-between;
    text-align: left;
  }

  .banner-wrapper img {
    display: block;
    height: fit-content;
  }

  .social {
    display: flex;
  }

  .content {
    padding: 155px 0 185px;
  }

  .buttonmain {
    margin: 0;
  }

  h1 {
    font-size: 63px;
    padding: 26px 0;
  }
}